

/* -~-~-~ Navbar ~-~-~- */

.navbar-button-css {
    font-size: 24px;
    margin-left: 0.2rem;
}

.navbar-container {
    z-index: 999;
    background-color: white;
    padding: 0.3rem;
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: 1px;
    width: 110%;
    margin-left: -0.8rem;
    margin-bottom: 0.1rem;
}

/* -~-~-~ Stories ~-~-~- */

.user-image-story {
    border-radius: 50%;
    width: 20%;


}

.story-userOne {
    background: rgb(131,58,180);
    background: linear-gradient(229deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 3px;

}

.instaclone-header {
    display: inline;
    margin-bottom: -1.5rem;
}

.story-list {
    list-style-type: none;
    margin-left: -0.2rem;
    margin-bottom: 1rem;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

.story-list-yourstory {
    position: relative;
}

.story-list-addstory {
    position: absolute;
    width: 35%;
    left: 45px;
    top: 6px;

}


.story-list li{
    margin-left: 0.8rem;
    display: inline;
}

.story-list li span {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

/* -~-~-~ Body / Content ~-~-~- */

.card-profile {
    margin-bottom: 8px;
}

.card-profile-options {
    float: right;
    margin-top: 6px;
    margin-right: 20px;
}

/* -~ Uploader image ~- */
.user-image {
    width: 9%;
    margin-left: 1rem;
    border-radius: 50%;
}

/* -~ Username ~- */
.card-profile span{
    margin-left: 8px;
    font-size: 13px;
    font-weight: 550;
}

.card-icons {
    font-size: 24px;
    margin-top: 3px;
    margin-left: 4px;
    margin-bottom: 8px;
}

.rootUser-comment {
    margin-left: 2px;
}

.rootUser-comment-time {
    margin-top: -5px;
    color: darkgrey;
    font-size: 14px;
    font-weight: lighter;
}

.rootUser-comment span {
    margin-left: 8px;
    font-weight: lighter;
    font-size: 14px;
    color: darkgrey;
}

.rootUser-comment-pic {
    width: 8%;
    border-radius: 50%;
}

.card-like-counter {
    font-size: 14px;
    font-weight: 550;
}

#user1 {

}

.card-title {
    margin-top: -0.7rem;
}

.card-sub {
    margin-top: -0.5rem;
}

.card-img-top {
    padding: 0.4rem;
}

.card-text {
    margin-top: -0.9rem;
    font-size: 14px;
}

.card-text span {
    font-weight: 550;
}

.card {
    width: 111.9%;
    border: none;
    margin-left: -1.1rem;
}