
/* ~~~  Global Style Elements ~~~ */
.pageTitle {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 44px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~  Navbar Styling ~~~ */
.navbar-brand-writing {
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px #105cd9;
    font-size: 115%;
    font-family: 'Bebas Neue', cursive;
}

/* ~~~ Hero Cards Styling ~~~ */
.heroCards h3{
    font-weight: bold;
    color: darkslategrey;
    font-size: 28px;
}

.heroCards h4{
    font-weight: lighter;
}

.heroCards-skills {
    font-weight: lighter;
}

.heroCards-skills li i{
    color: darkslategrey;
}

.heroCards-education {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.heroCards-education h3 {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}



/* ~~~ Work Experience Styling ~~~ */
.work-experience {
    width: 75%;
    box-shadow: 5px 10px 13px -7px gray;
}

.work-experience h1 {
    color: darkslategray;
    margin-left: -1rem;
    margin-bottom: 5rem;
}

#jenyaIvanovWork {
    margin-top: 6rem;
}

/* ~~~ Recommendations Styling ~~~ */
.recommendation-cards h5{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recommendation-cards h2 {
    font-weight: bold;
}

.recommendation-cards h5 p {
    margin-top: 0.2rem;
}

.recommendations-container {
    width: 75%;
    margin-top: 4.5rem;
}

.recommendations-card-nakashe h2{
    background: -webkit-linear-gradient(royalblue, deepskyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recommendations-container-cards h5 p{
    font-size: 65%;
    background: -webkit-linear-gradient(royalblue, deepskyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0.3rem;
}

.recommendations-card-michael h2{
    background: -webkit-linear-gradient(black, lightgray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recommendations-card-aloush h2{
    background: -webkit-linear-gradient(hotpink, sandybrown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recommendations-card-moran h2{
    background: -webkit-linear-gradient(orangered, sandybrown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recommendations-container-cards h5 p i{
    margin-right: 0.2rem;
}


/* ~~~ Footer Styling ~~~ */
.footer h6 {
    font-weight: lighter;
    font-size: 75%;
    margin-top: 1rem;
}

.footer p {
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ Responsive CSS ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ Desktop ~~~ */
@media only screen and (min-width: 1100px) {
    .recommendations-container h1 {
        margin-left: 4rem;
    }

    .recommendation-cards {
        margin-left: 28rem;
    }

    .work-experience-profile-img {
        width: 6.5%;
        margin-right: 1.2rem
    }
}

/* ~~~ Tablet/iPad ~~~ */
@media only screen and (max-width: 1099px) {
    /* ~~~ Navbar Fix For Tablets ~~~ */
    .navbar button span i {
        margin-top: 0.3rem;
        margin-left: -0.3rem;
        font-size: 115%;
    }

    .recommendations-container h1 {
        margin-left: 1rem;
    }

    .recommendation-cards {
        margin-left: 9rem;
    }

    .work-experience-profile-img {
        width: 8%;
        margin-right: 1rem
    }
}
/* ~~~ Mobile ~~~ */
@media only screen and (max-width: 420px) {
    /* ~~~ Navbar Fix For Mobile ~~~ */
    .navbar button span i {
        margin-top: 0.5rem;
        margin-left: -29rem;
    }

    .heroCards {
        margin-left: 1.5rem;
    }

    .work-experience h1 {
        margin-left: 0.3rem;
    }

    .work-experience-profile-img {
        width: 15%;
        margin-right: 1rem
    }

    .work-experience h4{
        font-weight: bold;
    }

    .recommendation-cards {
        margin-left: 0.2rem;
    }
    /* ~~~ Footer Fix For Mobile ~~~ */
    .footer {
        font-size: 55%;
        margin-top: 0;
    }

}