.pageTitle {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 44px;
}

.heroCards h3{
    font-weight: bold;
    font-size: 28px;
}

.heroCards h4{
    font-weight: lighter;
}

.recommendation-cards h2 {
    font-weight: bold;
}

.recommendation-cards h5 p {
    margin-top: 0.2rem;
}
